# data, checkpoints and logs
data/
checkpoints/
LOGS/
results/
samples/
data.zip

# others
dinov2/
examples/
Rebuttal/
scripts_comp/

# --- Python 编译与环境 ---
__pycache__/
*.pyc
.ipynb_checkpoints/
# 虽然你有 environment.yaml，但建议忽略本地虚拟环境文件夹（如果有的话）
venv/
.venv/
env/

# --- 操作系统冗余 ---
.DS_Store
Thumbs.db
